{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set element = tag %}

{% set form = element.getFieldLayout().createForm(element) %}

{% if tabs is not defined %}
	{% set tabs = form.getTabMenu() %}
{% endif %}

{% block contextMenu %}
	{% if craft.app.getIsMultiSite() %}
		<div class="btn menubtn sitemenubtn"
		     data-icon="world">{{ tag.site.name|t('site') }}</div>
		<div class="menu">
			<ul class="padded">
				{% for site in craft.app.sites.allSites %}
					{% set status = 'enabled' %}
					<li>
						{% if site.id == tag.siteId %}
							<a class="sel" data-site-id="{{ site.id }}">
								<div class="status {{ status }}"></div>{{ site.name|t('site') }}
							</a>
						{% else %}
							{% set url = url("tags/#{tag.group.handle}/#{tag.id}/#{site.handle}") %}
							<a href="{{ url }}" data-site-id="{{ site.id }}">
								<div class="status {{ status }}"></div>{{ site.name|t('site') }}
							</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block actionButton %}
	<input type="hidden" name="action" value="tag-manager/cp/save">
	{{ redirectInput('tags/' ~ group.handle) }}

	<div class="btngroup">
		<input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

		<div class="btn submit menubtn"></div>
		<div class="menu">
			<ul>
				<li>
					<a
						class="formsubmit"
						data-redirect="{{ continueEditingUrl|hash }}"
					>
						{{ forms.optionShortcutLabel('S') }}
						{{ "Save and continue editing"|t('app') }}
					</a>
				</li>

				<li>
					<a
						class="formsubmit"
						data-redirect="{{ nextTagUrl|hash }}"
					>
						{{ "Save and add another"|t('app') }}
					</a>
				</li>

				{% if tag.id %}
					<li>
						<a
							class="formsubmit"
							data-param="duplicate"
							data-value="1"
							data-redirect="{{ (continueEditingUrl~'#')|hash }}"
						>
							{{ "Save as a new tag"|t('app') }}
						</a>
					</li>
				{% endif %}
			</ul>
			{% if tag.id %}
				<hr>
				<ul>
					<li>
						<a id="delete-btn" class="error">
							{{ 'Delete'|t('app') }}
						</a>
					</li>
				</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block content %}
	<input type="hidden" name="groupId" value="{{ group.id }}">
	{% if tag.id %}
		<input type="hidden" name="tagId" value="{{ tag.id }}">
	{% endif %}
	{% if craft.app.getIsMultiSite() %}
		<input type="hidden" name="siteId" value="{{ tag.siteId }}">
	{% endif %}

	{{ form.render()|raw }}
{% endblock %}

{% block details %}
	<div id="settings" class="meta">
		{#{% if tag.id %}
		<div class="first">
			<div class="value flex">
				<div class="flex-grow"></div>
				<div>
					<div id="action-menubtn" class="btn menubtn" data-icon="settings" title="{{ 'Actions'|t('app') }}"></div>
					<div class="menu">
						<ul>
							<li>
								<a id="delete-btn" class="error">
									{{ 'Delete'|t('app') }}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endif %}#}

		{{ forms.textField({
			label: 'Slug'|t('app'),
			siteId: tag.siteId,
			id: 'slug',
			name: 'slug',
			autocorrect: false,
			autocapitalize: false,
			value: tag.slug,
			placeholder: 'Enter slug'|t('app'),
			errors: (tag.getErrors('slug')|merge(tag.getErrors('uri'))),
			first: true
		}) }}
	</div>

	{% if tag.id %}
		<div class="meta read-only">
			<div class="data">
				<h5 class="heading">{{ "Created at"|t('app') }}</h5>
				<div class="value">{{ tag.dateCreated|datetime('short') }}</div>
			</div>
			<div class="data">
				<h5 class="heading">{{ "Updated at"|t('app') }}</h5>
				<div class="value">{{ tag.dateUpdated|datetime('short') }}</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% if not tag.slug %}
	{% js %}
	window.slugGenerator = new Craft.SlugGenerator('#title', '#slug', {
		charMap: {{ craft.cp.getAsciiCharMap(tag.site.language)|json_encode|raw }}
    });
    {% endjs %}
{% endif %}
